imageio==2.9.0
joblib==0.16.0
matplotlib
numpy
Pillow==7.2.0
posix-ipc==1.0.4
psutil==5.7.2
pygame==1.9.6
scikit-image==0.17.2
scipy
Shapely==1.7.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
torch
torchvision
